.bg-light {
  background-color: #f2f2f2 !important;
}

.btn-light {
  background-color: #f2f2f2 !important;
  border: none !important;
}

.navbar-nav {
  align-items: center;
}

img#image-hover {
  max-width: 4em;
}

img#image-hover:hover {
  cursor: pointer;
}

.nav-link {
  font-size: 1em;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.relative-top-position{
  margin-top: 60px
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 767px) {
  .nav-link {
    font-size: 1em;
  }

  img#image-hover {
    max-width: 4em;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .relative-top-position{
    margin-top: 180px
  }
  .navbar-nav{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.nav-link:hover {
  cursor: pointer;
}

.nav-item {
  margin-top: auto !important;
  margin-bottom: auto !important;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
